@font-face {
  font-family: "Minecraft";
  src: url(Font/minecraft/Minecraft.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #121212;
}

html {
  scroll-behavior: smooth;
}

#about-me {
  scroll-margin-top: 80px; /* height of your fixed navbar */
}

/* Video Overlay */
.intro {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  transition: opacity 3s ease;
}

.intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hidden state */
.intro.fade-out {
  opacity: 0;
  pointer-events: none;
}

/* Main content hidden at first */
.main-content {
  opacity: 0;
  transition: opacity 3s ease;
}

.main-content.show {
  opacity: 1;
}

/* Portfolio Design Mobile First*/
.navigation-container {
  position: fixed;
  top: 0; /* stick to top */
  left: 0;
  width: 100%;
  background-color: rgb(66, 66, 66);
  padding-bottom: 5px;
  z-index: 1000;
}

.name-header {
  font-family: "Minecraft";
  color: white;
  display: none;
}
.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(99, 99, 99);
  padding: 20px 20px 10px 20px;
}

.nav-bar img {
  height: 50px;
}

.nav-bar button {
  padding: 0;
  border: none;
}

.nav-bar ul {
  list-style: none;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar .navigation-content a {
  text-decoration: none;
  color: black;
}
/* Popup menu Side */
body.show-mobile-menu header::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.nav-bar .navigation-content {
  display: block;
  position: fixed;
  left: -350px;
  top: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  background: white;
  margin: 0;
  z-index: 10000;
  border-radius: 0 20px 20px 0;
  box-shadow: 7px 0px 0px 5px gray;
  transition: left 0.3s ease;
}

body.show-mobile-menu .nav-bar .navigation-content {
  left: 0;
}

.nav-bar .navigation-content .content {
  display: block;
  margin-top: 50px;
  color: black;
  font-size: 25px;
}

.nav-bar #menu-close-button {
  position: absolute;
  right: 30px;
  top: 30px;
}

/* Button Design */
.box-button {
  cursor: pointer;
  border: 4px solid black;
  background-color: gray;
  padding-bottom: 10px;
  transition: 0.1s ease-in-out;
  user-select: none;

  width: 200px;
  text-align: center;
}

.button {
  background-color: #dddddd;
  border: 4px solid #fff;
  padding: 3px 8px;
}

.button a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-family: "Minecraft";
}

.button a:visited {
  color: black;
}

.box-button:active {
  padding: 0;
  margin-bottom: 10px;
  transform: translateY(10px);
}

/* Hero Section */

.section-content {
  position: relative; /* sits above the video */
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  height: 100%;
  /* full hero height */
}

.text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.section-content .img-container {
  display: none;
}

.section-content .button-container-desktop {
  display: none;
}

/* Hero container */
.hero-content {
  position: relative; /* needed so video can be absolute inside */
  width: 100%;
  height: 100vh; /* full viewport height */
  overflow: hidden; /* prevent scrollbars */
}

/* Video background */
.hero-content .background-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* scales video to cover container */
  z-index: -1; /* behind content */

  border-radius: 0 0 80px 80px;
}

.text-description,
.text-description-second {
  opacity: 0; /* hidden initially */
  font-family: "Minecraft";
  font-size: 1.5rem;
  text-align: center;
  padding: 4px 5px 0 5px;
  color: white;

  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(100%);
}
/* About me */
.about-me-container {
  /* background-color: #171615; */
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parent-grid {
  display: none;
}

.img-container {
  padding-top: 20px;
}
.img-container img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  margin-bottom: 20px;

  transition: transform 0.2s ease-in;
}

.img-container img:hover {
  transform: scale(1.1);
}

.hero-details {
  margin-top: 20px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.desktop-view-details {
  display: none;
}

.name,
.desc {
  overflow: hidden;
  font-family: "Minecraft";
  font-size: 1.5rem;
  margin-inline: auto;

  white-space: nowrap;
  border-right: 2px solid;

  animation:
    typing 3s steps(22) forwards,
    blink 1s step-end infinite;
}

.learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  padding-bottom: 20px;
}

/* Cards */
.carousel-section {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
  background: #121212;

  position: relative;
  z-index: 10;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: "Minecraft";
  color: white;
  font-size: 30px;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 70%;
  max-width: 280px;
  height: 150px;

  scroll-snap-align: center;

  color: white;
  font-family: "Minecraft";

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;

  /* Minecraft block style */
  border: 3px solid #2a2a2a;
  box-shadow: 0 6px 0 #1b1b1b;

  flex-shrink: 0;

  position: relative; /* Allows absolute positioning of text over image if desired */
  overflow: hidden; /* Keeps the image inside the border radius */
  display: flex;
  flex-direction: column; /* Stacks text and image vertically */

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.08);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This crops the image to fit the 150px/180px height */
  display: block;
}

/* Tools area */
.tools {
  /* background-color: #171615; */
  background-color: #121212;
  padding: 20px 0 0;
}

/* Container */
.tools-content {
  /* background-image: url("https://www.minecraft.net/content/dam/minecraftnet/games/minecraft/key-art/Marketplace-Pass_Full-Bleed-Image-1200_Ember-Footer_2880x294.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: repeat-x; */

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0 20px;
}

/* Grid layout */

.tools-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  gap: 15px;
  padding: 20px; /* Gives space for the hover 'lift' and glow */
  width: 100%;
  list-style: none;
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.tools-list.duplicate {
  display: none;
}

.tools-list::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* Tool slot */
.tool {
  flex: 0 0 140px; /* Cards stay exactly 140px wide */
}

/* Inner card */
.tool-inner {
  font-family: "Minecraft";
  color: white;
  background: #1b1b1b;
  border: 3px solid #2e2e2e;
  padding: 18px 20px;

  width: 100%;
  max-width: 150px;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  transition:
    transform 0.25s ease,
    border 0.25s ease,
    box-shadow 0.25s ease;

  width: 100%;
}
.tools-carousel {
  width: 100%;
  /* On mobile we want hidden to prevent page shake, 
     but on desktop we want visible for hover effects */
  overflow: visible;
}
/* Icon */
.tool-inner i {
  font-size: 28px;
}

/* Hover effect */
.tool-inner:hover {
  transform: translateY(-6px);
  border: 3px solid yellow;
  box-shadow: 0 0 12px rgba(255, 255, 0, 0.4);
  cursor: default;
}

/* Contact Section */
.contact {
  /* background-color: #000000; */
  background-color: #121212;
  padding: 20px 20px 150px;
  text-align: center;
}
.section-title {
  font-family: "Minecraft";
  color: white;
}
.contact-content {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-text {
  font-family: "Minecraft";
  margin: 20px 0 35px;
  color: #ccc;
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Contact.html css */

/* Contact Page */

.contact-page {
  background-color: #121212;
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 60px;

  display: flex;
  justify-content: center;
}

.contact-container {
  width: 90%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-intro {
  font-family: "Minecraft";
  color: #ccc;
  text-align: center;
  margin: 20px 0 20px;
}

/* Form */

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-family: "Minecraft";
  color: white;
  margin-bottom: 6px;
}

.form-group input,
.form-group textarea {
  font-family: "Minecraft";
  padding: 10px;

  background: #1b1b1b;
  border: 3px solid #2e2e2e;
  color: white;

  outline: none;

  resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
  border: 3px solid yellow;
}

/* Button fix */

.contact-form button {
  font-family: "Minecraft";
  font-size: 1.1rem;
  border: none;
  background: none;
  cursor: pointer;
}

/* Social Links */

.contact-links {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.contact-link {
  display: flex;
  gap: 30px;
  list-style: none;
}

.contact-link li {
  display: inline-block;
  font-size: 15px;
}

.contact-links a {
  font-family: "Minecraft";
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 8px;

  transition: color 0.25s ease;
}

.contact-links a:hover {
  color: yellow;
}

/* ABOUT PAGE */

.about-page {
  background: #121212;
  padding-top: 120px;
}

/* Title */

.about-hero {
  text-align: center;
  margin-bottom: 40px;
}

.about-title {
  font-family: "Minecraft";
  font-size: 32px;
  color: white;
}

/* Profile */

.about-profile {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #1b1b1b;
  border: 3px solid #2e2e2e;
  padding: 30px;
  max-width: 600px;

  box-shadow: 0 6px 0 #111;

  z-index: 1;
}

.profile-pic-about {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.profile-info {
  text-align: center;
}

.profile-name {
  font-family: "Minecraft";
  color: white;
  font-size: 26px;
}

.profile-role {
  font-family: "Minecraft";
  color: #ccc;
  margin: 10px 0;
}

.profile-description {
  font-family: "Minecraft";
  color: #aaa;
  line-height: 1.6;
}

/* Skills */

.skills-section {
  margin-top: 60px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  padding: 30px;

  position: relative;
  z-index: 1;
}

.skill-block {
  font-family: "Minecraft";
  color: white;

  background: #1b1b1b;
  border: 3px solid #2e2e2e;

  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  transition: 0.25s;
}

.skill-block:hover {
  border: 3px solid yellow;
  transform: translateY(-5px);
}

/* Experience */

.experience-section {
  margin-top: 60px;
  padding: 20px;
}

.quest-card {
  background: #1b1b1b;
  border: 3px solid #2e2e2e;

  padding: 20px;
  margin-bottom: 20px;

  font-family: "Minecraft";
  color: #ccc;

  position: relative;
  z-index: 1;

  transition: 0.25s ease;
}

.quest-card:hover {
  border: 3px solid yellow;
  transform: translateY(-5px);
}

.text.quest-title {
  padding-bottom: 10px;
}

/* Back */

.about-back {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

/* XP Skill Section */

.xp-skills {
  width: 90%;
  max-width: 700px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Skill container */

.xp-skill {
  font-family: "Minecraft";
  color: white;
}

/* Skill name row */

.xp-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 14px;
}

/* XP bar background */

.xp-bar {
  width: 100%;
  height: 18px;

  background: #1b1b1b;
  border: 3px solid #2e2e2e;

  box-shadow: 0 4px 0 #111;

  overflow: hidden;
}

/* XP fill */

.xp-fill {
  height: 100%;

  background: linear-gradient(to right, #3cff00, #44ff00, #6aff00);

  transition: width 1.5s ease;
}

/* WORKS PAGE */

.works-page {
  background: #121212;
  padding-top: 120px;
}

/* Title */

.works-title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

/* Project Grid */

.projects-grid {
  width: 90%;
  max-width: 1100px;

  margin: auto;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  gap: 30px;

  position: relative;
  z-index: 1;
}

/* Project card */

.project-card {
  background: #1b1b1b;

  border: 3px solid #2e2e2e;

  box-shadow: 0 6px 0 #111;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  transition: 0.25s;
}

.project-card:hover {
  transform: translateY(-6px);
  border: 3px solid yellow;
}

/* Image */

.project-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Info */

.project-info {
  padding: 20px;
}

.project-info h3 {
  font-family: "Minecraft";
  color: white;
  margin-bottom: 10px;
}

.project-info p {
  font-family: "Minecraft";
  color: #aaa;
  font-size: 14px;
  line-height: 1.5;
}

.project-info .texts {
  margin-bottom: 30px;
}

/* Buttons */

.project-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

/* Back button */

.works-back {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

/* FAQ Section */

.faq-section {
  background-color: #121212;
  padding: 0px 20px 40px;
  color: white;
  font-family: "Minecraft";
}

.faq-container {
  max-width: 800px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-item {
  border: 3px solid #2e2e2e;
  background: #1b1b1b;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition:
    border-color 0.25s ease,
    transform 0.25s ease;
}

.faq-item:hover {
  border-color: yellow;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  font-size: 1.1rem;
  user-select: none;
}

.faq-icon {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  color: #ccc;
  font-size: 1rem;
  line-height: 1.6;
  transition:
    max-height 0.4s ease,
    padding 0.4s ease;
}

.faq-item.active .faq-answer {
  max-height: 500px; /* enough for content */
  padding: 15px 20px;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg); /* + turns into x/– */
}

/* Animations */

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes scale-animation {
  to {
    transform: scale(1.25);
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* ========================= */
/* DESKTOP DESIGN */
/* ========================= */

@media (min-width: 900px) {
  /* Button Design */
  .box-button {
    cursor: pointer;
    border: 4px solid black;
    background-color: gray;
    padding-bottom: 10px;
    transition: 0.1s ease-in-out;
    user-select: none;

    width: 200px;
    text-align: center;

    grid-column: 1 / -1; /* span full width of grid */
    justify-self: center; /* center inside grid */
    margin-top: 20px;
  }

  .button {
    background-color: #dddddd;
    border: 4px solid #fff;
    padding: 3px 8px;
  }

  .button a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-family: "Minecraft";
  }

  .button a:visited {
    color: black;
  }

  .box-button:active {
    padding: 0;
    margin-bottom: 10px;
    transform: translateY(10px);
  }

  /* Navbar */
  /* NavBar Buttons */
  .navigation-content .content .box-button {
    cursor: pointer;
    border: 4px solid black;
    background-color: gray;
    padding-bottom: 10px;
    transition: 0.1s ease-in-out;
    user-select: none;

    width: 110px;
    text-align: center;
  }

  .navigation-content .content .button {
    background-color: #dddddd;
    border: 4px solid #fff;
    padding: 3px 8px;
  }

  .navigation-content .content .button a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Minecraft";
  }

  .navigation-content .content .button a:visited {
    color: black;
  }

  .navigation-content .content .box-button:active {
    padding: 0;
    margin-bottom: 10px;
    transform: translateY(10px);
  }

  .name-header {
    font-family: "Minecraft";
    color: white;
    display: block;
  }

  .nav-bar {
    padding: 20px 60px;
  }

  .nav-bar .img-container img {
    width: 85px;
    height: 60px;
  }

  .hero-content .background-clip {
    border-radius: 0 0 200px 200px;
  }

  /* Hide mobile menu buttons */

  #menu-open-button,
  #menu-close-button {
    display: none;
  }

  /* Desktop navigation */

  .nav-bar .navigation-content {
    position: static;
    flex-direction: row;
    background: none;
    height: auto;
    width: auto;
    left: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
  }

  .nav-bar .navigation-content .content {
    margin: 0 15px;
  }

  /* ========================= */
  /* HERO SECTION */
  /* ========================= */

  .section-content > * {
    min-width: 0;
  }

  .section-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    max-width: 1200px;
    margin: auto;
    gap: 40px;
  }

  .section-content .img-container {
    display: flex;
    justify-content: end;
  }

  .section-content .img-container img {
    width: 350px;
    height: 350px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .text-description,
  .text-description-second {
    font-size: 2rem;
    width: auto;
    padding: 10px 20px;
    text-align: left;
  }

  .section-content .button-container-desktop {
    display: block;
  }

  .section-content .button-container {
    display: none;
  }

  .about-tools-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center; /* Keeps them aligned at the top */
    justify-content: center;
    gap: 50px; /* Space between the two sections */
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 40px;
  }

  .aboutme,
  .tools {
    flex: 1;
    min-width: 0; /* Prevents overflow issues */
  }

  /* ========================= */
  /* ABOUT SECTION */
  /* ========================= */
  .mobile-view {
    display: none;
  }

  .about-text-container {
    text-align: left;
    margin-top: 60px;
  }

  .experience-section {
    margin-top: 0px;
    margin-right: 20%;
    margin-left: 20%;
  }

  .parent-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 40px; /* Space between profile and skills */
    max-width: 1200px;
    margin: 0 auto; /* Center the whole grid on the page */
    align-items: start; /* Aligns both columns to the top */
    padding: 0 40px;
  }

  .desktop-view-details {
    display: block;

    border-right: 2px solid #333; /* Adds a subtle separator */
    padding-right: 40px;
  }

  .about-me-container {
    padding: 0px 0 60px;
  }
  .about-text-container {
    margin-right: 30px;
    margin-left: 30px;
  }
  .about-me-container .img-container img {
    display: none;
    width: 320px;
    height: 320px;
  }
  .text-intro,
  .about-text-description {
    font-family: "Minecraft";
    color: white;
    font-size: 30px;
    text-align: left;
  }
  .text-intro {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .name,
  .desc {
    display: none;
  }

  .about-hero {
    margin-top: 60px;
  }

  .skills-desktop {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the skills title and carousel horizontally */
  }

  .skills-section {
    width: 100%;
    margin-top: 0px; /* Remove top margin so it aligns with the profile photo */
  }

  .skills-carousel {
    overflow: hidden;
    width: 100%;
    max-width: 500px; /* Adjust this to match the width of your profile card */
    margin: 0 auto;

    user-select: none;
  }

  .skills-track {
    display: flex;
    width: max-content;
    gap: 20px;

    animation: scroll 18.4s linear infinite;
  }

  .skills-grid {
    display: flex;
    gap: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .skill-block {
    width: 140px;
    height: 100px;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  /* ========================= */
  /* TOOLS GRID */
  /* ========================= */
  .tools-list.duplicate {
    display: flex;
  }
  .tools {
    flex: 1;
    min-width: 0; /* Critical: allows flex items to shrink below content size */
    position: relative;
  }
  .tools-track {
    display: flex;
    width: max-content;
    gap: 0px;
    animation: scroll 18.4s linear infinite;
  }
  .tools-carousel {
    width: 100%;
    overflow: hidden; /* This stops icons from sliding over the About text */
    position: relative;
    user-select: none;
    padding: 20px 0;
  }
  /* .tools-list {
    display: grid;
    
    grid-template-columns: repeat(6, 1fr);

    flex-wrap: wrap;
    overflow-x: visible; 
    width: auto;
    max-width: 1000px; 
    margin: 0 auto;
    padding: 20px 0;
  } */

  .tools-list {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* 3 columns instead of 6 since it's narrower */
    /* gap: 15px; */
    margin-left: 0px;
    margin-right: 0px;
  }

  .tool {
    flex: 1 1 auto; /* Reset flex-basis so grid takes over */
    width: auto;
  }

  .tools-carousel::before,
  .tools-carousel::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 2;
  }

  .tools-carousel::before {
    left: 0;
    background: linear-gradient(to right, #121212, transparent);
  }

  .tools-carousel::after {
    right: 0;
    background: linear-gradient(to left, #121212, transparent);
  }

  /* ========================= */
  /* PROJECT CAROUSEL */
  /* ========================= */

  .carousel {
    justify-content: center;
  }

  .card {
    flex: 0 0 260px;

    height: 180px;
  }

  /* ========================= */
  /* CONTACT SECTION */
  /* ========================= */

  .contact-content {
    /* border: 1px solid #333;
    padding: 40px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 8px; */

    display: grid;
    /* Creates two columns: one for Title, one for Text */
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center; /* Vertically centers the title with the text */
    text-align: left;
  }

  .section-title {
    grid-column: 1; /* Force title to left column */
    font-size: 3rem;
    margin: 0;

    border-right: 2px solid #333; /* Adds a subtle separator */
    padding-right: 40px;

    text-align: center;
  }

  .contact-text {
    grid-column: 2; /* Force text to right column */
    margin: 0;
  }

  .link {
    font-size: 1.2rem;
  }

  .form-group input,
  textarea {
    font-size: 1.3rem;
  }
}
